title: Magento Documentation Theme
description: Templates, styles and scripts for all Magento Documentation portals.
logo: DocsTheme
baseurl: ""
permalink: pretty
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
version: 4

markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter_opts:
    css_class: 'highlighter'
    span:
      line_numbers: false
    block:
      line_numbers: true

environment: develop

collections:
  videos:
    output: true
    permalink: "/videos/:path/"

# This will force "default" layout for all of the pages, if not specified
defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "default"
      lang: "en"
  -
    scope:
      path: "video"
      type: videos
    values:
      layout: video
      guide_version: "2.1"


algolia:
  application_id: 'E642SEDTHL'
  index_name: 'devdocs'
  api_key: 'd2d0f33ab73e291ef8d88d8b565e754c'
  lazy_update: true
  excluded_files:
    - vagrant
    - common
    - js
    - i
    - schemas

exclude:
  - Gemfile
  - Gemfile.lock
  - package.json
  - vagrant.sh
  - README.md
  - node_modules
  - vendor
  - .git
  - .idea

app_switcher:
  apps: 
    - label: Developer
      children:

      - label: Commerce Developer Documentation
        url: https://devdocs.magento.com/

      - label: PWA Studio
        url: http://pwastudio.io/

      - label: Order Management
        url: https://omsdocs.magento.com/en/

    - label: Merchant
      children:

      - label: Commerce User Guide
        url: https://docs.magento.com/m2/ee/user_guide/

      - label: Order Management
        url: https://omsdocs.magento.com/en/userguides/

      - label: Business Intelligence
        url: https://docs.magento.com/mbi/
