
.app-switcher-trigger {
  border: none;
  background: none;
  width: 45px;
  height: $header-height;
  position: relative;
}

.app-switcher-trigger::before {
  content: '';
  position: relative;
  display: block;
  margin: 0 auto;
  width: 18px;
  height: 18px;
  background: center url(../i/icons/apps.svg);
  background-size: contain;
  z-index: 2;
}

.dropdown.show .app-switcher-trigger::after {
  background: #EAEAEA;
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 15px);
  border-radius: 4px;
}

.app-switcher .dropdown-menu {
  min-width: 600px;
  margin-right: -50px;
}

.app-switcher-content {
  display: flex;
  padding: 15px 15px 40px 15px;
}

.app-switcher .app-swither-group-title {
  font-size: 16px;
  margin: 0;
  padding: 15px 0 15px 15px;
}

.app-switcher-group {
  flex: 1;
}


@media ( $small-screen ) {
  .app-switcher-content {
    display: block;
  }

  .app-switcher-group:first-child {
    padding: 0 0 20px 0;
  }

  .app-switcher .dropdown-menu {
    min-width: 340px;
    margin-right: -50px;
  }

}