
.app-switcher-trigger {
  border: none;
  background: none;
  width: 45px;
  height: $header-height;
  position: relative;
}

.app-switcher-trigger::before {
  content: '';
  position: relative;
  display: block;
  margin: 0 auto;
  width: 18px;
  height: 18px;
  background: center url(../i/icons/apps.svg);
  background-size: contain;
  z-index: 2;
}

.dropdown.is-open .app-switcher-trigger::after {
  background: #EAEAEA;
  display: block;
  content: '';
  width: 31px;
  height: 31px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  border-radius: 4px;
}

.app-switcher .dropdown-menu {
  min-width: 580px;
  margin-right: -50px;
  transition: none;
}


.app-switcher-content {
  display: flex;
  padding: $spacing * 2;
}

.app-switcher-group {
  flex: 1;
}

.app-switcher-group ul {
  width: 100%;
}


@media ( $small-screen ) {
  .app-switcher-content {
    display: block;
  }

  .app-switcher-group:first-child {
    padding: 0 0 20px 0;
  }

  .app-switcher .dropdown-menu {
    min-width: 340px;
    margin-right: -50px;
  }

}