.breadcrumbs {
  padding-bottom: .5em;

  ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  li.breadcrumb-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a, span {
    font-size: $font-size-sm;
    display: inline;
  }

  a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      display: inline-block;
      content: '\203A';
      padding: 0 .5em;
    }

  }

  .active {
    a, span {
      color: $dark-gray-color;
      cursor: default;
      text-decoration: none;

      &:after {
        display: none;
      }
    }
  }
}
