a.card {
  width: 100%;
  display: block;
  color: $body-font-color;

  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);

  padding: 25px 30px;

  transition: all .2s;

  & a {
    color: $body-font-color;
  }

  &:hover {
    color: $body-font-color;
    text-decoration: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .2);
    border-color: #ccc;
    //transform: translateY(-3px) translateX(-3px);
  }

  &:active {
    transform: translateY(0);
  }

  p:last-child {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 16px;
  }

  h2,
  h3 {
    margin-top: 0;
    line-height: 1.5;
  }

  .anchor {
    display: none;
  }

}