code, pre {
  font-family: $code-font-family;
}

// Inline code
code {
  font-size: 95%;
  color: lighten($body-font-color, 20%);
  word-wrap: break-word;
}

// Code format in headers
h1 code, h2 code, h3 code, h4 code, h5 code {
  white-space: nowrap;
}

a code {
  color: inherit;
}

// Bloks of code
pre {
  display: block;
  padding: $spacing*2;
  margin: 0 0 $spacing*2;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  overflow: auto;
  
  code {
    font-size: $font-size-sm;
    white-space: pre;
    word-wrap: normal;
  }
}

// Copy button
.pre-wrap {
  position: relative;

  &:hover {
    .btn-copy, .btn-no-copy  {
      visibility: visible;
      opacity: 1;
    }
  }

  .btn-copy, .btn-no-copy {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    font-family: $body-font-family;
    font-size: 12px;
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-copy {
    color: $btn-primary-color;
    background: $btn-primary-bg-color;
    &:hover {
      color: $btn-primary-color;
      background: darken($btn-primary-bg-color, 10%);
    }
    &:active {
      color: $btn-primary-color;
      background: darken($btn-primary-bg-color, 20%);
    }
  }

  .btn-no-copy {
    cursor: default;
    outline: none;
    background: darken($light-gray-color, 5%);
    &:active, &:hover {
      background: darken($light-gray-color, 5%);
    }
  }
}

// Add $ to the bash code examples
.language-bash code:before {
  display: inline;
  content: '$';
  margin-right: $spacing;
  user-select: none;
}

// Line numbers
.rouge-table {
  margin: 0;
  max-width: 100%;

  td {
    padding: 0;
    border: none;
  }

  pre {
    padding: 0;
  }
  
  // Column with line numbers
  .gl {
    width: 35px;
  }

  .lineno {
    overflow: hidden;
    width: 100%;
    text-align: right;
    opacity: .4;
    padding: 0 $spacing*2 0 0;
    user-select: none;
  }
}
