/*
 * This file contains style definitions for collapsible elements
 */

.collapsible {
  
  margin: 0 0 1.3em;

  .collapsible-title {
    cursor: pointer;
    display: block;
    margin: 0;

    &:focus{
      outline: none;
    }

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      width: 18px;
      height: 18px;
      transition: all .3s;
      background: url('../i/icons/chevron-right.svg') no-repeat center;
      opacity: .6;
    }
  }

  &:hover .anchor {
    display: none;
  }

  .collapsible-content {
    display: none;
  }



  &.active .collapsible-title:before {
    transform: rotate(90deg);
  }

}

.collapsible-h2 {
  margin: 15px 0 10px 0;
}

.collapsible-h3 {
  margin: 15px 0 10px 0;
}
