.edition-marker {
}

// Icon markder
.edition-marker-icon {
  width: 20px;
  height: 18px;
  display: inline-block;
  vertical-align: sub;
  margin: 0 .2em 0 0;
}

.edition-marker-tag {
  font-weight: 300;
  font-style: normal;
  margin: 0 .2em;

  .edition-marker-icon-image {
    vertical-align: middle;
  }
}



li > .edition-marker {
  position: absolute;
  left: 2px;
  top: 4px;
}

li.ee-only,
li.b2b-only,
li.ce-only {
  padding-left: 28px;
  position: relative;
}

// Logo
.edition-marker-icon-image {
  display: inline-block;
  background: url("../i/a-logo.svg") no-repeat center;
  background-size: contain;
}

.b2b-only .edition-marker-icon-image {
  background-image: url("../i/a-logo.svg");
}
.ce-only .edition-marker-icon-image {
  background-image: url("../i/a-logo.svg");
}

//
.edition-tooltip {
  display: block;
  pointer-events: none;
  position: fixed;
  z-index: 9999;
}

.sidebar-wrapper .edition-marker-icon {
  position: absolute;
  margin: 0;
  right: 4px;
  top: 8px;
}

// Prevent edition marker from wrapping the text inside table
// TODO: refactror this
table strong.ee-only,
table strong.ce-only,
table strong.b2b-only {
  white-space: nowrap;
}

// Reset the font weight of the marker in case it's applied to strong
strong.ee-only,
strong.ce-only,
strong.b2b-only {
  font-weight: normal;
}

// Make space for marker in side nav:
.spectrum-SideNav-itemLink.ee-only,
.spectrum-SideNav-itemLink.ce-only,
.spectrum-SideNav-itemLink.b2b-only
{
  padding-right: 28px;

}
