// Icon markder
.edition-Tags {
  @extend .spectrum-Tags;
  margin-left: 1rem;
}

.edition-Tags-item {
  @extend .spectrum-Tags-item;
  display: inline-flex;
  vertical-align: middle;

  // border-width: 0;

  &.ee-only,
  &.b2b-only,
  &.ce-only {
    color: #000;
  }
}

.break {
  display: block;
  flex-basis: 100%;
}

.edition-Label {
  @extend .spectrum-Label;
  margin-left: 1rem;
  vertical-align: middle;

  &.ee-only {
    @extend .spectrum-Label--red;
  }

  &.b2b-only {
    @extend .spectrum-Label--seafoam;
  }

  &.ce-only {
    @extend .spectrum-Label--orange;
  }

  a.spectrum-Link {
    color: inherit;
  }
}

.edition-marker-tag {
  font-size: var(--spectrum-tag-l-text-size, var(--spectrum-alias-item-text-size-l));
  font-weight: 300;
  font-style: normal;
}

li>.edition-marker {
  position: absolute;
  left: 3px;
}

li.ee-only,
li.b2b-only,
li.ce-only {
  padding-left: 28px;
  position: relative;
}

// Adobe Logo
.edition-marker-icon-image {
  display: inline-block;
  background: url(../i/ee-only.svg) no-repeat center;
  background-size: contain;
  margin-left: 0;
  vertical-align: middle;
}

.b2b-only .edition-marker-icon-image {
  background-image: url("../i/b2b-only.svg");
}

.ce-only .edition-marker-icon-image {
  background-image: url("../i/ce-only.svg");
}

//
.edition-tooltip {
  display: block;
  pointer-events: none;
  position: fixed;
  z-index: 9999;
}

.sidebar-wrapper .edition-marker-icon {
  position: absolute;
  margin: 0;
  right: 4px;
  top: 8px;
}

// Prevent edition marker from wrapping the text inside table
// TODO: refactror this
table strong.ee-only,
table strong.ce-only,
table strong.b2b-only {
  white-space: nowrap;
}

// Reset the font weight of the marker in case it's applied to strong
strong.ee-only,
strong.ce-only,
strong.b2b-only {
  font-weight: normal;
}

// Make space for marker in side nav:
.spectrum-SideNav-itemLink.ee-only,
.spectrum-SideNav-itemLink.ce-only,
.spectrum-SideNav-itemLink.b2b-only {

  display: flex;
  justify-content: space-between;
  vertical-align: text-top;

}