.github-links {
  min-width: 272px;
  flex: 1 0 50px;
  padding: 0 0 1.5em 0;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

// Hide external link icon 
.github-links a:after {
  display: none !important;
}

.layout-404 .github-links {
  display: none;
}