html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $light-gray-color; // this is needed for spring scrolling to not show the white border
}

body {
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.global-wrapper {
  flex: 1;
  background: #fff;
}

.main-container {
  min-height: 100%;
}



.content-container {

}

.content {
  position: relative;
  padding-left: $sidebar-width;
  padding-right: $page-info-width;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}


.full-width-content {
  width: 90%;
}

.content-wrap {
  padding: 0 10px 50px 50px;
  flex: 1 1 auto;
  max-width: 1300px;
  min-width: 360px;
}

.page-header {
  background: $light-gray-color;

  .breadcrumbs {
    padding-left: 30px;
  }
  .page-heading {
    padding-left: 30px;
  }
}



.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0;
}

.container:after {
  clear: both;
}



// for large screens, make more whitespace on sides
@media ($large-screen){

  .container {
    padding-left: 66px;
    padding-right: 66px;
    max-width: 1600px;
    margin: 0 auto;
  }

}

@media ( $medium-to-large-screen) {
  .content {
    padding-right: 20px;
    display: block;
  }
}

// For smaller screens, remove toc from left column and show in-page-toc
@media ( $medium-screen) {

  .content-wrap {
    width: 100%;
    margin-right: 0;
    padding: 0 30px 0 30px;
    min-width: auto;
  }

  .main-container {
    padding-bottom: 20px;
  }

  .main-container > .container {
    padding: 0;
  }


  .pane-content .container {
    padding: 0;
  }

  .container, .page-intro .container, .home-section .container {
    padding: 0 20px;
  }

  .main-container {
    width: 100%;
    overflow-x: auto;
  }

  .content {
    width: 100%;
    padding: 10px 20px;
    flex-direction: column;
  }

  .content-container {
    flex-direction: column;
  }

  .content .content-wrap {
    padding: 0;
  }



}

.affix {
  position: fixed;
}

#markdown-toc {
  display: none;
}
