// Base nav main
.nav-main {

  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;

  margin: 0;
  padding: 0;

  z-index: 9;

  // Reset
  a, a:visited, a:hover  {
    color: $body-font-color;
    display: block;
    text-decoration: none;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // First level items
  & > li > a, & > li > span {
    display: block;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    line-height: $header-height;
    padding: 0 $spacing*3;
    position: relative;
    transition: all $transition-duration;
    user-select: none;

  }

  & > .current > a, & > .current > span  {
    color: $brand-color;
  }

  & > li > span {
    cursor: default;
  }

  & > li > a {

    &:hover {
      background: rgba(0,0,0,.1);
    }
    &:active {
      background: rgba(0,0,0,.2);
    }

  }

  & > .nav-main-separator {
    border-left: 1px solid #ccc;
    height: $spacing*2;
    margin: 0 $spacing*2;
  }


  // Mobile view
  @media ( $medium-screen ) {

    flex-direction: column;
    align-items: flex-start;
    height: auto;

    li {
      width: 100%;
    }

    & > .nav-main-separator {
      border-left: none;
      border-bottom: 1px solid #ccc;
      height: 1px;
      margin: $spacing*2 0;
    }

  }// mobile view


  @media ( $medium-to-large-screen ) {

    // First level items
    & > li > a, & > li > span {
      font-size: .9rem;
    }
  }

}//.nav-main


.nav-main-fader {
  background: rgba(0,0,0,0);
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-nav-fader;
  transition: all $transition-duration;

  .offcanvas-active &, .search-active & {
    background: rgba(0,0,0,.2);
    visibility: visible;
  }

}
