// Advanced nav main
$nav-main-section-width: 300px;

// First level
.nav-main-item {

  list-style: none;
  position: relative;
  line-height: 1;
  margin: 0;
  padding: 8px 0;
  outline: 0;

  & > a, & > span {
    outline: 0;
    border: $dropdown-border-width solid transparent;
    border-bottom: none;
    z-index: 2;
    transition: all $transition-duration;
    transition-delay: 0;
    -webkit-user-drag: none;
  }

  & > span {
    -webkit-tap-highlight-color: transparent;
  }

  &.active > a, &.active > span {
    background: $dropdown-bg;
    border-color: $dropdown-border-color;
    border-bottom-color: $dropdown-bg;
    transition-delay: .1s; // small delay needed to synchronise JS appearance event
  }

  // no-js fallback
  .no-js &:hover, .no-js &:focus, &.active {
    .nav-popup {
      visibility: visible;
      opacity: 1;
      left: auto;
      transition-delay: .1s;
    }

    & > a {
      background: $dropdown-bg;
      border-color: $dropdown-border-color;
      transition-delay: .1s;
    }

  }

  @media ( $medium-screen ) {
    &.active > a, &.active > span {
      border-color: transparent;
      background: transparent;
    }
  }

}

// Second Level
.nav-popup {

  display: flex;
  flex-flow: row;

  background: $dropdown-bg;
  background-clip: padding-box;

  padding: $spacing*2 0;

  position: absolute;
  visibility: hidden;
  opacity: 0;
  //left: -9999px;
  top: $header-height;
  min-width: $nav-main-section-width;

  transition-property: opacity, visibility;
  transition-duration: $transition-duration;

  border: $dropdown-border-width solid $dropdown-border-color;
  box-shadow: 0 10px 25px rgba(0,0,0,.2);
  z-index: 1;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: $font-size-sm;
    font-weight: 400;
    line-height: 1.4;

    padding: $spacing*2 $spacing*4;

    transition: all $transition-duration;

    &:hover {
      background: $dropdown-link-hover-bg;
    }
    &:active {
      background: darken($dropdown-link-hover-bg, 10%);
    }
  }

  .nav-section {
    min-width: $nav-main-section-width;
    padding: 0;

    .nav-section-title {
      color: #999;

      font-size: $font-size-sm;
      font-weight: 600;

      letter-spacing: .1em;

      padding: $spacing*4 $spacing*4 $spacing*2;

      text-transform: uppercase;
    }

  }


  // Popup Mobile view: always visible
  @media ( $medium-screen ) {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    padding: 0 $spacing*2 $spacing*4;
    visibility: visible;
    display: block;
    box-shadow: none;
    border: none;
  }

}
