.page-info {
  font-size: 12px;
  width: $page-info-width;
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
  padding-top: 20px;

  #markdown-toc {
    display: block;
  }
}

.page-contributor {

  position: relative;
  padding: 5px 5px 5px 25px;
  margin: 0 0 10px 0;
  background: #fdf4e1;

  a {
    color: #95360B;
    &:hover {
      color: $link-hover-color;
    }
  }

  &:after {
    display: block;
    content: '';
    background: url(../i/icons/star.svg) center center no-repeat;
    position: absolute;
    width: 16px;
    height: 17px;
    top: 5px;
    left: 4px;
  }
}

.new-issue {
  margin: 0 0 5px 0;
}

.github-link {
  margin: 0 0 5px 0;
}


@media ( $medium-to-large-screen ) {
  .page-info {
    position: relative;
    border-top: 1px solid $light-gray-color;
    margin: 20px 0 0 0;
    width: auto;
    position: relative;
    padding: 15px 20px;
    font-size: 14px;
  }

}


.page-tags {
  margin: 0 0 30px 0;
}
