

// search box on home page

.search-form {
  width: 100%;
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
}

.algolia-autocomplete {
  width: 100%;
}

.search-form .spectrum-Search-input {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}

.search-form .spectrum-Search-icon {
  top: 12px;
}
.search-form .spectrum-ClearButton {
  display: none;
  top: 6px;
}
