

.algolia-autocomplete {
  width: 100%;
  text-align: left;  
}

.search-form {
  .spectrum-Search-input {
    display: block;
    -webkit-appearance: none;
    outline-offset: -2px;
    padding-left: var(--spectrum-search-padding-left, 36px);
    text-indent: 0;
    padding-right: var(--spectrum-search-padding-right, 28px);
  }
  .spectrum-Search-icon {
    display: block;
    position: absolute;
    left: 12px;
    top: calc(var(--spectrum-textfield-height, var(--spectrum-alias-single-line-height)) / 2 - var(--spectrum-icon-magnifier-width, var(--spectrum-global-dimension-size-200)) / 2);
    pointer-events: none;
  }

  .spectrum-ClearButton {
    position: absolute;
    right: 0;
    top: 0;
  }
}