$toggle-width: 32px;

.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100vh;
  
  z-index: 2;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--spectrum-global-color-gray-200);

  // Move sidebar up to provide the background for the logo
  
  top: 0;
  padding-top: $header-height;

  // Make sure that the sidebar scrollbar looks nice
  &::-webkit-scrollbar-track {
    background: transparent;
    border: none;
  }

  .sidebar-wrapper {
    padding: $spacing $spacing*2;
    padding-bottom: 120px; // magic number is needed to allow visibility of the long sidebars
  }

  .guide-title {
    position: relative;
    @extend .spectrum-Heading4;
    padding: $spacing*4 $spacing*3 $spacing*4 $spacing*3;
    margin: 0;
    z-index: 1;
  }


  // Styling the menu

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      list-style: none;
    }

    a, span {
      display: block;
      position: relative;
    }

    a {
      text-decoration: none;
    }

    // Group titles
    span {
      color: #737676;
    }

  }
  

  /*
  // second level links
  ul ul a, ul ul span {
    font-size: $font-size-sm;
  }

  ul ul a, ul ul span {
    padding: $spacing*2 $spacing*3;
  }

  // Third level
  ul ul ul a, ul ul ul span {
    padding-left: $spacing*6;
  }

  // Fourth level
  ul ul ul ul a, ul ul ul ul span {
    padding-left: $spacing*8;
  }


  // First level lists could use some spacing
  .sidebar-wrapper > ul {
    margin-bottom: $spacing*3;
  }
  */

  .toc-toggler {
    display: none;
  }

}



.collapsible-navigation {

  position: relative;

  .has-children {

    // Accomodate space for the toggle
    & > a, & > span {
      padding-right: $toggle-width;
    }

  }

  .toggle {
    background: transparent;
    border: none;
    border-radius: 0;
    display: block;

    position: absolute;

    padding: 0;
    margin: 0;

    top:0;
    right: 0;
    cursor: pointer;

    height: $toggle-width;
    width: $toggle-width;

    z-index: 10;

    &:after {
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      margin: auto;
      background-image: url('../i/icons/chevron-left.svg');
      transition: all $transition-duration;
    }

  }

  .item-toggle {
    & > .toggle {
      pointer-events: none;
    }

    & > span:hover {
      cursor: pointer;
    }
  }

  .open > .toggle:after {
    transform: rotate(-90deg);
  }


  .expand-all {
    display: none;
    background: transparent;
    font-size: $font-size-xsm;
    letter-spacing: .02em;
    border: none;
    position: absolute;
    right: 0;
    top: -2.2em;
    color: $secondary-text-color;
    z-index: 2;

    &:active, &:focus, &:hover {
      color: $body-font-color;
    }
  }


}



@media ( $medium-screen ) {

  .sidebar {

    width: 100%;
    height: auto;
    padding: 0;
    position: relative;

    .sidebar-wrapper {
      max-height: 0;
      overflow: hidden;
      transition: all $transition-duration;
      padding: 0;
      visibility: hidden;
    }

    .toc-toggler {
      position: relative;
      display: block;
      width: 100%;
      border: none;
      text-align: left;
      background: $light-gray-color;
      padding: $spacing*2 $spacing*4;

      &, &:visited {
        color: $body-font-color;
      }

      &:active, &:hover {
        text-decoration: none;
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        top:18px;
        right: 18px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: $body-font-color transparent transparent transparent;
        transition: all $transition-duration;
      }

    }


  }


  .expanded {

    .sidebar-wrapper {
      max-height: 9999px;
      visibility: visible;
    }

    .toc-toggler::after {
      transform: rotate(180deg);
    }

  }

}
