$toggle-width: 30px;
$active-item-background: lighten( $accent-color, 53% );

.sidebar {
  position: fixed;
  width: $sidebar-width;
  border-right: 1px solid $border-color;
  height: 100%;
  z-index: 2;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;

  &::-webkit-scrollbar-track {
    background: transparent;
    border: none;
  }

  .sidebar-wrapper {
    padding: 0 0 $spacing*4;
    padding-bottom: 120px; // magic number is needed to allow visibility of the long sidebars
  }

  .guide-title {
    position: relative;
    color: $body-font-color;
    font-weight: $font-weight-medium;
    font-size: 18px;
    padding: $spacing*4 $spacing*3 $spacing*4 $spacing*3;
    border-bottom: 1px solid $border-color;

    margin: 0;
    z-index: 1;
  }


  // Styling the menu

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
      line-height: 1.3;
      border-bottom: 1px solid $border-color;
    }

    ul li {
      border-bottom: none;
    }

    a, span {
      display: block;
      padding: $spacing*3 $spacing*3;
      position: relative;
      font-weight: $font-weight-medium;
    }

    ul a {
      font-weight: normal;
    }

    a {
      color: $body-font-color;

      text-decoration: none;
      transition: background $transition-duration;

      &:hover {
        background: $dropdown-link-hover-bg;
      }
      &:active {
        background: darken($dropdown-link-hover-bg, 10%);
      }
    }

    // Group titles
    span {
      color: #737676;
    }

    .active {
      & > a {
        background: $active-item-background;
      }
    }

  }

  // second level links
  ul ul a, ul ul span {
    font-size: $font-size-sm;
  }

  ul ul a, ul ul span {
    padding: $spacing*2 $spacing*3;
  }

  // Third level
  ul ul ul a, ul ul ul span {
    padding-left: $spacing*6;
  }

  // Fourth level
  ul ul ul ul a, ul ul ul ul span {
    padding-left: $spacing*8;
  }


  // First level lists could use some spacing
  .sidebar-wrapper > ul {
    margin-bottom: $spacing*3;
  }

  .toc-toggler {
    display: none;
  }

}





.collapsible-navigation {

  position: relative;

  ul {
    ul {
      display: none;
    }
  }

  ul ul .toggle {
    height: 38px;
    &:after {
      border-width: 6px 4px 0 4px;
    }
  }

  .has-children {
    & > a, & > span {
      padding-right: $toggle-width;
    }
  }

  .toggle {
    background: transparent;
    border: none;
    border-radius: 0;
    display: block;

    position: absolute;

    opacity: .9;

    padding: 0;
    margin: 0;

    top:0;
    right: 0;
    cursor: pointer;

    height: 49px;
    width: $toggle-width;

    z-index: 10;

    &:hover {
      background: $dropdown-link-hover-bg;
    }

    &:after {
      display: block;
      content: '';
    //  transition: all $transition-duration;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: $accent-color transparent transparent transparent;
    }

  }

  .item-toggle {
    & > .toggle {
      pointer-events: none;
    }

    & > span:hover {
      cursor: pointer;
      background: $dropdown-link-hover-bg;
    }
  }

  .open > .toggle:after {
    transform: rotate(180deg);
  }

  .active > .toggle {
    &:hover {
      background: darken( $active-item-background, 5% );
    }
  }


  .expand-all {
    background: transparent;
    font-size: $font-size-xsm;
    letter-spacing: .02em;
    border: none;
    position: absolute;
    right: 0;
    top: -2.2em;
    color: $secondary-text-color;
    z-index: 2;

    &:active, &:focus, &:hover {
      color: $body-font-color;
    }
  }


}



@media ( $medium-screen ) {

  .sidebar {

    width: 100%;
    padding: 0 0 $spacing*2 0;
    position: relative;

    .sidebar-wrapper {
      max-height: 0;
      overflow: hidden;
      transition: all $transition-duration;
      padding: 0;
    }

    .toc-toggler {
      position: relative;
      display: block;
      width: 100%;
      border: none;
      text-align: left;
      background: $light-gray-color;
      padding: $spacing*2 $spacing*4;

      &, &:visited {
        color: $body-font-color;
      }

      &:active, &:hover {
        text-decoration: none;
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        top:18px;
        right: 18px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: $body-font-color transparent transparent transparent;
        transition: all $transition-duration;
      }

    }


  }


  .expanded {

    .sidebar-wrapper {
      max-height: 9999px;
    }

    .toc-toggler::after {
      transform: rotate(180deg);
    }

  }

}
