.tabs {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0 8px;

  border-bottom: 2px solid;
  border-bottom-color: rgb(234, 234, 234);

  list-style: none;


  a {
    text-decoration: none;
    display: block;
    line-height: 47px;
    color: $body-font-color;
    padding: 0 30px;

    &:hover {
      color: #454646;
      background: darken($light-gray-color, 10%);
    }
  }

  .is-selected {
    cursor: default;
    a {
      background: #fff;
      color: $brand-color;

      &:hover {
        background: #fff;
      }
    }
  }

  @media ( $small-screen) {
    width: 100%;
  }

}

.tab-item {

  color: rgb(110, 110, 110);
  border: none;

  position: relative;
  margin: 0;
  margin-right: 24px;
  padding: 0;

  height: 46px;
  line-height: 46px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}


.tab-item:hover {
  color: #333;
}

// Focus style
.tab-item::before {
  content: '';
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  height: 32px;
  margin-top: -15px;
  left: -8px;
  right: -8px;
  border: 2px solid transparent;
  border-radius: 5px;
  pointer-events: none;
}

.tab-item:focus::before {
  border-color: rgb(38, 128, 235);
}

.tab-item:active::before {
  border-color: transparent;
}




.tab-item.is-selected {
  cursor: default;
  color: #333;

  .tab-item-label { 
    cursor: default;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    bottom: -2px;
    border-radius: 4px;
    left: 0;
    right: 0;
    background: rgb(44, 44, 44);
  }

}




.tab-item-label {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}


.tab-item[disabled] .tab-item-label {
  cursor: default;
}

.tab-item[disabled] {
  color: #BCBCBC;
}