
table {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0 2em 0;
  @extend .spectrum-Table !optional;
}

.content table p, .content table li, .content table dl {
  font-size: inherit;
}

table.fixed {
  table-layout: fixed;
}

tbody {
  @extend .spectrum-Table-body !optional;
}

th {
  @extend .spectrum-Table-headCell !optional;
}

tbody tr {
  @extend .spectrum-Table-row !optional;
}

td {
  @extend .spectrum-Table-cell !optional;
}
