table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 2em 0 2em 0;
}

table.fixed {
  table-layout: fixed;
}

th {
  background: $light-gray-color;
  text-align: left;
  padding: 15px 14px;
  vertical-align: bottom;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

tr td {
  font-size: $font-size-sm;
  padding: 13px 14px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  word-wrap: break-word;
  vertical-align: initial;
}
