.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: $light-gray-color;

  margin: 0;
  padding: 0 30px;

  list-style: none;

  .tab {
    margin: 0;
    min-width: 100px;
    text-align: center;
  }

  a {
    text-decoration: none;
    display: block;
    line-height: 47px;
    color: $body-font-color;
    padding: 0 30px;

    &:hover {
      color: #454646;
      background: darken($light-gray-color, 10%);
    }
  }

  .active {
    a {
      background: #fff;
      color: $brand-color;

      &:hover {
        background: #fff;
      }
    }
  }

  @media ( $small-screen) {
    width: 100%;
  }

}
