.page-toc {

  padding: .5em 0;
  margin: 2em 0 0 0;
  font-size: $font-size-xsm;

  position: sticky;
  top: $header-height;
  max-height: calc(100vh - #{$header-height});
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;


  &::-webkit-scrollbar {
    display: none;
  }

  &:before {
    display: block;
    content: "On this page";
    text-transform: uppercase;
    letter-spacing: .05em;
    color: $secondary-text-color;
    font-weight: $font-weight-bold;
    padding: 0 10px 5px 10px;
  }

  ul {
    margin: 0;
    position: relative;
  }

  li {
    line-height: 1.4;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $secondary-text-color;;
    font-size: $font-size-xsm;
    display: block;
    padding: 5px 10px;
    border-left: 2px solid transparent;

    &:hover {
      text-decoration: none;
      color: $accent-color;
      //background: $dropdown-link-hover-bg;
    }

    &.active {
      color: $accent-color;
      background: transparentize( $accent-color, .95);
    }

  }

  .h3 a {
    padding-left: 16px;
  }


  @media ( $medium-to-large-screen ) {
    display: none;
  }

}



.anchor {
  display: none;
  position: absolute;
  left: -36px;
  width: 40px;
  height: 100%;
  background: url('../i/icons/link.svg') center center no-repeat;
  background-size: 20px;
  opacity: .5;

  h2:hover &, h3:hover &, h4:hover &, h5:hover &, h6:hover & {
    display: block;
  }
}
