h1, h2, h3, h4, h5, h6 {
  position: relative;
  text-rendering: optimizelegibility;
}

.page-intro h1 {
  margin: 0 0 20px 0;
}


h2 {
  @extend .spectrum-Heading2;
  margin: 2em 0 .7em 0;
}

h3 {
  @extend .spectrum-Heading3;
  margin: 2em 0 .7em 0;
}

h4 {
  @extend .spectrum-Heading4;
}

h4 {
  @extend .spectrum-Heading5;
}

h4 {
  @extend .spectrum-Heading6;
}


h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
}

h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}


.content p, .content li, .content dl {
  @extend .spectrum-Body2 !optional;
  margin: 0 0 1em 0;
}

a {
  @extend .spectrum-Link !optional;
}


// Style the external URL (only in content area)
.content-wrap a[href^='http://']:not([href*='magento.com']),
.content-wrap a[href^='https://']:not([href*='magento.com']){

  &:after {
    content: '';
    margin: -2px 2px 0 3px;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: url(../i/icons/external.svg) no-repeat center;
    background-size: contain;
  }

}

// Remove top margin for first heading in content 
.main-container h2:first-child {
  margin-top: 0;
}



.lead {
  font-size: var(--spectrum-global-dimension-size-225);
}

small {
  font-size: 85%;
}

strong,
.bold {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}


.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}



ul, ol {
  padding: 0;
  margin: 0 0 1.3em 2em;

  // decrease the margin before paragraph
  p+& {
    margin-top: -0.5em;
  }
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

li {
  padding-left: .1em;
  margin-bottom: .7em;
}

ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline, ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline>li, ol.inline>li {
  display: inline-block;
  padding-left: .31em; //5px
  padding-right: .31em;
}

dl {
  font-size: 1em;
  margin-bottom: 1.3em;
}

dl dt {
  font-weight: 700;
  margin: 1em 0 0.5em 0;
}

dl dd {
  margin: 0 0 0 1.2em;
}


hr {
  margin: 1.3em 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

abbr {
  text-decoration: none;
}

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote cite {
  display: block;
  font-style: italic;
  margin: 0.5em 0 0 0;
}

blockquote {
  padding: 0 0 0 1.25em;
  margin: 0 0 1.25em;
  border-left: 5px solid #eeeeee;
  margin: 2em 0 1em 0;
}

blockquote small {
  display: block;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0'
}

q:before, q:after, blockquote:before, blockquote:after {
  content: ""
}

address {
  display: block;
  margin-bottom: 1.25em;
  font-style: normal;
}




/* SRJ - reviewer question */

p.q {
	font-size: 1em;
	color: red;
	/* display: none; */
}


/* Status Colors - Used in Component Status Page */
.status{
  padding: 2px;

  &.red {
    color: #fff;
    background-color: #d04437;
  }

  &.yellow {
    background-color: #f6c342;
  }

  &.green {
    background-color: #14892c;
    color: #fff;
  }
}


.page-subtitle {
  @extend .spectrum-Heading2--quiet;
  margin: -.5em 0 0 0;
}

// Reset the first heading on the page to have no margin
main h2:first-child,
main h3:first-child,
main h4:first-child {
  margin-top: 0;
}

@media ( $small-screen ) {
  h1 {
    font-size: 1.875em;
  }
  h2 {
    font-size: 1.5em;
  }
}




/* Paragraph that represents a beginning of a procedure - should have an ordered list of steps following */
.procedure {
  font-weight: bold;
  margin-left: 1.0em;
}

