.version-switcher  {
  position: relative;
  width: 120px;
  top: 7px;
  right: 8px;

  @media ( $medium-screen ) {

    z-index: 999;

    .dropdown-menu {
    	max-width: 100%;
    	min-width: 100%;
    	left: 0;
    	right: auto;
  	}

  }
  
}
