<div class="app-switcher">
  <div class="dropdown">
    <button id="app-switcher-trigger" class="app-switcher-trigger" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" aria-label="Documentation sites"></button>
    <div class="dropdown-menu spectrum-Popover spectrum-Dropdown-popover spectrum-Popover--bottom dropdown-menu-right"
      aria-labelledby="app-switcher-trigger" role="menu">
      <div class="app-switcher-content">
        {% for group in site.app_switcher.apps %}
        <div class="spectrum-Menu app-switcher-group">
          <span class="spectrum-Menu-sectionHeading"
            id="app-switcher-category-{{ forloop.index }}">{{ group.label }}</span>
          <ul class="spectrum-Menu" role="group" aria-labelledby="app-switcher-category-{{ forloop.index }}">
            {% for item in group.children %}
            <li class="spectrum-Menu-item" role="menuitem"><a class="spectrum-Menu-itemLabel"
                href="{{ item.url }}?itm_source={{ site.algolia.index_name }}&itm_medium=top_nav&itm_campaign=app_switcher&itm_term={{ item.label }}">{{ item.label }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
