<nav class="breadcrumbs">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>

{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}

{% for i in (1..forLoopMaxInt) %}
  {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
  {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
  {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}

  {% if page.collection %}
    {% assign collection = site.documents %}
  {% else %}
    {% assign collection = site.pages %}
  {% endif %}

  {% for breadcrumb_page in collection %}
    {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
    {% assign j = forLoopMaxInt | plus: 0 %}
    <li class="breadcrumb-item {% if i == j %}active{% endif %}">
      <a href="{{ site.baseurl }}{{ breadcrumb_page.url }}">
        {{ breadcrumb_page.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}

{% endfor %}

  </ol>
</nav>
