{% if page.ee_only == true %}
<div class="bs-callout spectrum-Alert-edition">
  <i class="edition-marker-icon-image spectrum-Icon spectrum-UIIcon-InfoMedium spectrum-Alert-icon"></i>
  <h4 class="spectrum-Alert-header-edition">{{site.data.var.ee}} only</h4>
  <div class="spectrum-Alert-content-edition">
    The content on this page is for {{site.data.var.ee}} only.
    <a href="https://docs.magento.com/user-guide/getting-started.html#product-editions">Learn more</a>
  </div>
</div>
{% endif %} {% if page.b2b_only == true %}
<div class="bs-callout spectrum-Alert edition-marker">
  <i class="edition-marker-icon-image spectrum-Icon spectrum-UIIcon-InfoMedium spectrum-Alert-icon"></i>
  <h4 class="spectrum-Alert-header">{{site.data.var.b2b}} only</h4>
  <div class="spectrum-Alert-content">
    The content on this page is for {{site.data.var.b2b}} only.
    <a href="https://docs.magento.com/user-guide/getting-started.html#product-editions">Learn more</a>
  </div>
</div>
{% endif %} {% if page.ce_only == true %}
<div class="bs-callout spectrum-Alert edition-marker">
  <i class="edition-marker-icon-image spectrum-Icon spectrum-UIIcon-InfoMedium spectrum-Alert-icon"></i>
  <h4 class="spectrum-Alert-header">{{site.data.var.ce}} only</h4>
  <div class="spectrum-Alert-content">
    The content on this page is for {{site.data.var.ce}} only.
    <a href="https://docs.magento.com/user-guide/getting-started.html#product-editions">Learn more</a>
  </div>
</div>
{% endif %}
