<script>
  var baseUrl = "{{ site.baseurl }}";
  var algolia = {
    id : "{{ site.algolia.application_id}}",
    index: "{{ site.algolia.index_name}}",
    key: "{{ site.algolia.api_key}}"
  };

  var indices = [
    {
      label: "DevDocs",
      name: "devdocs",
      facetFilters: [["guide_version: 2.3", "versionless: true"]],
      refinements: [
        {
          label: "Functional areas",
          attribute: "functional_areas"
        }
      ],
      baseUrl: ""
    },
    {
      label: "User Guide",
      name: "merchdocs",
      baseUrl: "https://docs.magento.com/user-guide"
    },
    {
      label: "MBI User Guide",
      name: "merchdocs-mbi",
      baseUrl: "https://docs.magento.com/mbi"
    },
    {
      label: "PWA",
      name: "pwa-devdocs",
      baseUrl: "https://magento.github.io/pwa-studio"
    },
    {
      label: "Order Management",
      name: "oms-en",
      baseUrl: "https://omsdocs.magento.com"
    }
  ];
</script>
