<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/print.css" media="print"/>
	<link rel="canonical" href="{{ page.url | replace:'/index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://magento.com/favicon.ico">
	<link rel="apple-touch-icon" type="image/png" href="https://magento.com/apple-touch-icon.png">
	<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="https://magento.com/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="https://magento.com/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="https://magento.com/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="https://magento.com/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="https://magento.com/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="https://magento.com/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="https://magento.com/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://magento.com/apple-touch-icon-180x180.png">

	<script>
		var baseUrl = "{{ site.baseurl }}";
	</script>

</head>
<body>

<header class="site-header">

	<nav id="global-nav">

			<div class="menu-btn"><a class="menu-trigger menu-icon" href="#"></a></div>

			<div class="container">

				<a class="logo" href="{{site.baseurl}}/">
					<img src="{{site.baseurl}}/assets/i/m-logo.svg" alt=""><img src="{{site.baseurl}}/assets/i/magento-logo.svg" alt="Magento" class="magento-logo" />
					<span class="site-logo">{{ site.logo }}</span>
				</a>

				{% include layout/version-switcher.html %}

				{% include layout/navigation.html %}

				<div class="search-btn">
					<a class="search-trigger search-icon" href="{{site.baseurl}}/search/"></a>
				</div>

				<form class="quick-search" action="{{site.baseurl}}/search/" method="get" novalidate="novalidate">
					<input type="search" name="q" placeholder="Search" />
					<a href="#" class="quick-search-close">&times;</a>
				</form>

			</div>

		</nav><!-- #global-nav -->

	</header>
	<div class="nav-main-fader"></div>


	<div id="gl-wrapper">

		<!-- .main-container -->
		<div class="main-container">
			<a id="main-content"></a>
