<!-- Main Navigation -->
<div class="nav-main spectrum-Tabs spectrum-Tabs--horizontal" role="menubar">
        <li class="nav-main-item spectrum-Tabs-item" tabindex="0" role="menuitem" aria-haspopup="false">
                <span class="spectrum-Tabs-itemLabel" tabindex="-1" id="main-nav-popupLabel-1">Cloud</span>
                <div class="nav-popup spectrum-Popover" aria-hidden="true" tabindex="-1" role="menu"
                        aria-labelledby="main-nav-popupLabel-1" style="left: auto;">
                        <div class="nav-section">
                                <div class="spectrum-Menu-sectionHeading">Cloud basics</div>
                                <ul class="spectrum-Menu">
                                        <li class="spectrum-Menu-item" role="menuitem"><a href="/cloud/bk-cloud.html"
                                                        class="spectrum-Menu-itemLabel ">Cloud Guide</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/architecture/cloud-architecture.html"
                                                        class="spectrum-Menu-itemLabel ">Cloud Architecture</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/project/project-start.html"
                                                        class="spectrum-Menu-itemLabel ">Project Structure</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/project/project-upgrade-parent.html"
                                                        class="spectrum-Menu-itemLabel ">Upgrades and Patches</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/release-notes/cloud-tools.html"
                                                        class="spectrum-Menu-itemLabel ">Release Notes</a></li>
                                </ul>
                        </div>
                        <div class="nav-section">
                                <div class="spectrum-Menu-sectionHeading">Cloud development</div>
                                <ul class="spectrum-Menu">
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/docker/docker-development.html"
                                                        class="spectrum-Menu-itemLabel ">Local development</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/docker/docker-config.html"
                                                        class="spectrum-Menu-itemLabel ">Configure and launch Docker</a>
                                        </li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/docker/docker-quick-reference.html"
                                                        class="spectrum-Menu-itemLabel ">Docker quick reference</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/project/project-conf-files_magento-app.html"
                                                        class="spectrum-Menu-itemLabel ">Configure Application</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/env/environments.html"
                                                        class="spectrum-Menu-itemLabel ">Configure Environments</a></li>
                                </ul>
                        </div>
                        <div class="nav-section">
                                <div class="spectrum-Menu-sectionHeading">Functional Testing</div>
                                <ul class="spectrum-Menu">
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/docker/docker-mftf.html"
                                                        class="spectrum-Menu-itemLabel ">Commerce application
                                                        testing</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/cloud/docker/docker-development-testing.html"
                                                        class="spectrum-Menu-itemLabel ">ECE-Tools testing</a></li>
                                </ul>
                        </div>
                </div>
        </li>
        <li class="nav-main-item spectrum-Tabs-item" tabindex="0" role="menuitem" aria-haspopup="false">
                <span class="spectrum-Tabs-itemLabel">Setup</span>
                <div class="nav-popup spectrum-Popover" aria-hidden="true" tabindex="-1" role="menu"
                        aria-labelledby="main-nav-popupLabel-1" style="left: auto;">
                        <ul>
                                <li class="is-selected spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/install-gde/bk-install-guide.html"
                                                class="spectrum-Menu-itemLabel ">Installation
                                                Guide</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a href="/extensions/"
                                                class="spectrum-Menu-itemLabel ">Extensions Guide</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/comp-mgr/bk-compman-upgrade-guide.html"
                                                class="spectrum-Menu-itemLabel ">Software Update Guide</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/config-guide/bk-config-guide.html"
                                                class="spectrum-Menu-itemLabel ">Configuration Guide</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/performance-best-practices/introduction.html"
                                                class="spectrum-Menu-itemLabel ">Performance Best Practices</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/migration/bk-migration-guide.html"
                                                class="spectrum-Menu-itemLabel ">Migration Guide</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/release-notes/bk-release-notes.html"
                                                class="spectrum-Menu-itemLabel ">Release
                                                Information</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/reference/cli/magento.html"
                                                class="spectrum-Menu-itemLabel ">Command-line Tools Reference</a></li>
                        </ul>
                </div>
        </li>
        <li class="nav-main-item spectrum-Tabs-item" tabindex="0" role="menuitem" aria-haspopup="false">
                <span class="spectrum-Tabs-itemLabel" tabindex="-1" id="main-nav-popupLabel-3">Development</span>
                <div class="nav-popup spectrum-Popover" aria-hidden="true" tabindex="-1" role="menu"
                        aria-labelledby="main-nav-popupLabel-3" style="left: auto;">
                        <div class="nav-section">
                                <div class="spectrum-Menu-sectionHeading">Backend</div>
                                <ul class="spectrum-Menu">
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/architecture/bk-architecture.html"
                                                        class="spectrum-Menu-itemLabel ">Architecture</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/extension-dev-guide/bk-extension-dev-guide.html"
                                                        class="spectrum-Menu-itemLabel ">PHP
                                                        Developer Guide</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/ext-best-practices/bk-ext-best-practices.html"
                                                        class="spectrum-Menu-itemLabel ">Extension Developer Best
                                                        Practices</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/mrg/intro.html"
                                                        class="spectrum-Menu-itemLabel ">Module Reference Guide</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/coding-standards/bk-coding-standards.html"
                                                        class="spectrum-Menu-itemLabel ">Coding
                                                        Standards</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/contributor-guide/contributing.html"
                                                        class="spectrum-Menu-itemLabel ">Contributor Guide</a></li>
                                </ul>
                        </div>
                        <div class="nav-section">
                                <div class="spectrum-Menu-sectionHeading">Frontend</div>
                                <ul class="spectrum-Menu">
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/frontend-dev-guide/bk-frontend-dev-guide.html"
                                                        class="spectrum-Menu-itemLabel ">Frontend Developer Guide</a>
                                        </li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/ui_comp_guide/bk-ui_comps.html"
                                                        class="spectrum-Menu-itemLabel ">UI Components Guide</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/javascript-dev-guide/bk-javascript-dev-guide.html"
                                                        class="spectrum-Menu-itemLabel ">JavaScript Developer Guide</a>
                                        </li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/pattern-library/bk-pattern.html"
                                                        class="spectrum-Menu-itemLabel ">Admin
                                                        Design Pattern Library</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/design-styleguide/bk-styleguide.html"
                                                        class="spectrum-Menu-itemLabel ">Admin Style Guide</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="https://magento.github.io/pwa-studio/"
                                                        class="spectrum-Menu-itemLabel ">PWA Documentation Site</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/page-builder/docs/index.html"
                                                        class="spectrum-Menu-itemLabel ">Page Builder Developer
                                                        Guide</a></li>
                                </ul>
                        </div>
                        <div class="nav-section">
                                <div class="spectrum-Menu-sectionHeading">API</div>
                                <ul class="spectrum-Menu">
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/get-started/bk-get-started-api.html"
                                                        class="spectrum-Menu-itemLabel ">Get
                                                        Started with Commerce Web APIs</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/rest/bk-rest.html"
                                                        class="spectrum-Menu-itemLabel ">REST API Reference</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/guides/v2.3/soap/bk-soap.html"
                                                        class="spectrum-Menu-itemLabel ">SOAP API Reference</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a href="/guides/v2.3/graphql/"
                                                        class="spectrum-Menu-itemLabel ">GraphQL Developer Guide</a>
                                        </li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/marketplace/eqp/v1/api.html"
                                                        class="spectrum-Menu-itemLabel ">Marketplace EQP API
                                                        Reference</a></li>
                                        <li class="spectrum-Menu-item" role="menuitem"><a
                                                        href="/mbi/docs/getting-started.html"
                                                        class="spectrum-Menu-itemLabel ">Commerce Reporting API</a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </li>
        <li class="nav-main-item spectrum-Tabs-item" tabindex="0" role="menuitem" aria-haspopup="false">
                <span class="spectrum-Tabs-itemLabel" tabindex="-1" id="main-nav-popupLabel-4">Testing</span>
                <div class="nav-popup spectrum-Popover" aria-hidden="true" tabindex="-1" role="menu"
                        aria-labelledby="main-nav-popupLabel-4" style="left: auto;">
                        <ul>
                                <li class="spectrum-Menu-item" role="menuitem"><a href="/guides/v2.3/test/testing.html"
                                                class="spectrum-Menu-itemLabel ">Commerce Testing Guide</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a href="/mftf/docs/introduction.html"
                                                class="spectrum-Menu-itemLabel ">Functional Acceptance Testing
                                                (MFTF)</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/test/integration/integration_test_execution.html"
                                                class="spectrum-Menu-itemLabel ">Integration Testing</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/test/js/jasmine.html"
                                                class="spectrum-Menu-itemLabel ">JavaScript Unit Testing</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/test/unit/unit_test_execution.html"
                                                class="spectrum-Menu-itemLabel ">PHP Unit Testing</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/get-started/web-api-functional-testing.html"
                                                class="spectrum-Menu-itemLabel ">Web API
                                                Functional Testing</a></li>
                        </ul>
                </div>
        </li>
        <li class="nav-main-separator"></li>
        <li class="nav-main-item spectrum-Tabs-item" tabindex="0" role="menuitem" aria-haspopup="false">
                <span class="spectrum-Tabs-itemLabel" tabindex="-1" id="main-nav-popupLabel-5">Functional Areas</span>
                <div class="nav-popup spectrum-Popover" aria-hidden="true" tabindex="-1" role="menu"
                        aria-labelledby="main-nav-popupLabel-5" style="left: auto;">
                        <ul>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/advanced-reporting/overview.html"
                                                class="spectrum-Menu-itemLabel ">Advanced Reporting</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a href="/guides/v2.3/b2b/bk-b2b.html"
                                                class="spectrum-Menu-itemLabel ">B2B</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/howdoi/checkout/checkout_overview.html"
                                                class="spectrum-Menu-itemLabel ">Checkout</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/marketplace/sellers/getting-started.html"
                                                class="spectrum-Menu-itemLabel ">Extensions Marketplace</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/inventory/index.html"
                                                class="spectrum-Menu-itemLabel ">Inventory Management</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a href="http://omsdocs.magento.com/en/"
                                                class="spectrum-Menu-itemLabel ">Order Management</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a href="/page-builder/docs/index.html"
                                                class="spectrum-Menu-itemLabel ">Page Builder</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/payments-integrations/bk-payments-integrations.html"
                                                class="spectrum-Menu-itemLabel ">Payment Integrations</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/recommendations/product-recs.html"
                                                class="spectrum-Menu-itemLabel ">Product Recommendations</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/security/security-and-compliance.html"
                                                class="spectrum-Menu-itemLabel ">Security and Compliance</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/extension-dev-guide/staging.html"
                                                class="spectrum-Menu-itemLabel ">Staging</a></li>
                        </ul>
                </div>
        </li>
        <li class="nav-main-item spectrum-Tabs-item" tabindex="0" role="menuitem" aria-haspopup="false">
                <span class="spectrum-Tabs-itemLabel" tabindex="-1" id="main-nav-popupLabel-6">Tutorials</span>
                <div class="nav-popup spectrum-Popover" aria-hidden="true" tabindex="-1" role="menu"
                        aria-labelledby="main-nav-popupLabel-6" style="left: auto;">
                        <ul>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/rest/tutorials/index.html"
                                                class="spectrum-Menu-itemLabel ">Rest Tutorials</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/howdoi/customize_product.html"
                                                class="spectrum-Menu-itemLabel ">Customize Product Creation Form</a>
                                </li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/guides/v2.3/howdoi/checkout/checkout_overview.html"
                                                class="spectrum-Menu-itemLabel ">Customize Checkout</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a
                                                href="/community/resources/support.html"
                                                class="spectrum-Menu-itemLabel ">Adobe Commerce Support</a></li>
                                <li class="spectrum-Menu-item" role="menuitem"><a href="/videos/"
                                                class="spectrum-Menu-itemLabel ">Video
                                                Tutorials</a></li>
                        </ul>
                </div>
        </li>
</div><!-- /.nav-main -->
