<form
  class="spectrum-Search search-form"
  action="{{ site.baseurl }}{% link search.md %}"
  method="get"
>
  <input
    type="search"
    placeholder="Looking for something specific?"
    name="query"
    value=""
    class="spectrum-Textfield spectrum-Search-input search-field"
  />
  <svg
    class="spectrum-Icon spectrum-UIIcon-Magnifier spectrum-Search-icon"
    focusable="false"
    aria-hidden="true"
  >
    <use xlink:href="#spectrum-css-icon-Magnifier" />
  </svg>
  <button type="reset" class="spectrum-ClearButton">
    <svg
      class="spectrum-Icon spectrum-UIIcon-CrossSmall"
      focusable="false"
      aria-hidden="true"
    >
      <use xlink:href="#spectrum-css-icon-CrossSmall" />
    </svg>
  </button>
</form>
