{% assign pages = site.pages | where_exp: 'page', 'page.dir contains include.context' | sort: 'menu_order' %}

{% for node in pages %}
  {% assign node_parts = node.url | split: '/' %}
  {% assign node_depth = node_parts | size %}

  {% assign url = site.baseurl | append: '' | append: node.url %}



  {% if node_depth == 2 %}

    {% assign node_root = '/' | append: node_parts[1] | append: '/' %}
    {% assign has_children = false %}
    {% for subnode in pages %}

      {% if subnode.url contains node_root and subnode.url != node_root %}
        {% assign has_children = true %}
      {% endif %}

    {% endfor %}

    <h4 class="guide-title">{{ node.title }}</h4>
    <li class="level-0 children-{{ has_children }} {% if page.url == node.url %}active{% endif %}">

      <a href="{{ url }}">
        {% if node.menu_title %}
          {{ node.menu_title }}
        {% else %}
          {{ node.title }}
        {% endif %}
      </a>

      {% if has_children == true %}
        <ul>
          {% for subnode in pages %}
            {% if subnode.url contains node_root and subnode.url != node_root %}
              {% assign node_parts = subnode.url | split: '/' %}
              {% assign node_depth = node_parts | size %}

              {% if node_depth == 3 %}
              {% assign suburl = site.baseurl | append: subnode.url %}
              {% assign subnode_root = '/' | append: node_parts[1] | append: '/' | append: node_parts[2] | append: '/' %}
              {% assign has_children = false %}
              {% for subsubnode in pages %}

                {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root %}
                  {% assign has_children = true %}
                {% endif %}
              {% endfor %}

                <li class="level-1 children-{{ has_children }} {% if page.url == subnode.url %}active{% endif %}">
                  <a href="{{ suburl }}">
                    {% if subnode.menu_title %}
                      {{ subnode.menu_title }}
                    {% else %}
                      {{ subnode.title }}
                    {% endif %}
                  </a>



                  {% if has_children == true %}
                    <ul>
                      {% for subsubnode in pages %}

                        {% assign subsuburl = site.baseurl | append: subsubnode.url %}

                        {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root %}
                          <li class="level-2 {% if page.url == subsubnode.url %}active{% endif %}">
                            <a href="{{ subsuburl }}">
                              {% if subsubnode.menu_title %}
                                {{ subsubnode.menu_title }}
                              {% else %}
                                {{ subsubnode.title }}
                              {% endif %}
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
